<h2 class="menu">MENU</h2>

<div class="container"> 

</div>

<h2 class="details">Details</h2>
<div class="details-body">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente quaerat, labore aliquam numquam accusamus fuga beatae esse reprehenderit? Commodi voluptas velit eligendi! Voluptates adipisci temporibus, perspiciatis ducimus sed facere est. Molestiae officiis, neque, culpa suscipit dolor quisquam ratione velit nobis natus voluptas consectetur ipsam quam! Aut culpa iure dignissimos dolorum. Distinctio voluptatum ipsam officiis ducimus sit facilis qui, totam eaque esse explicabo ut dignissimos vitae asperiores? Quas fugit natus qui.
    </p>
</div>
<script src="script2.js"></script>